@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");
* {
  font-size: 16px;
  font-family: Lato, sans-serif;
  line-height: 130%;
}

.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
}

.container {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #0000003b;
  z-index: 50;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s;
}
.overlay--show {
  visibility: visible;
  opacity: 1;
}

.burger {
  display: none;
}
.button {
  display: inline-block;
  letter-spacing: 0.5px;
  line-height: 52px;
  font-weight: 700;
  padding: 0 40px;
  color: #fff;
  border-radius: 4px;
  background-color: #ff3f3a;
  white-space: nowrap;
}

.button:hover {
  transform: scale(1.05); /*плавно увеличиваем кнопку при наведении */
}

.heading {
  color: #1e212c;
}

.heading__subtitle {
  line-height: 150%;
  margin-bottom: 8px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 700;
}

/*------------------------------------------*/
.header {
  font-weight: 700;
  background: url("../img/decor/Group\ 2.svg") 0 0 / cover no-repeat #ff403a48;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header__top-inner {
  display: flex;
  padding: 20px 0;
  justify-content: space-between;
  align-items: center;
}
.header__logo--burger {
  display: none;
}
.header__logo {
  margin-right: 60px;
}

.header__nav {
  margin-right: auto;
}

.header__nav-list {
  display: flex;
  gap: 40px;
}

.header__nav-item:last-child {
  margin-right: 0;
}

.header__nav-link {
  font-weight: 700;
  line-height: 1.6;
  white-space: nowrap;
  transition: all 0.3s;
}

.header__nav-link:hover {
  color: #ff3f3a;
}

.header__btn-box {
  display: flex;
  align-items: center;
}

.header__top-btn {
  margin-right: 36px;
}

.header__user-nav {
  position: relative;
  padding-left: 28px;
}

.header__user-nav::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  display: block;
  background: url(../img/icons/Profile.svg) no-repeat;
  width: 20px;
  height: 20px;
}

.header__user-btn {
  white-space: nowrap;
  line-height: 1.6;
  transition: all 0.3s; /*эффект плавности при наведении*/
}

.header__user-btn:hover {
  color: #ff3f3a;
}

/*  ---------------------------------------------   */

.header__body {
  margin-top: 20px;
}

.header__body-inner {
  display: flex;
  flex-direction: column;
}

.header__main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #1e212c;
}

.header__content {
  margin-right: 30px;
}
.header__img {
  max-height: 300px;
  margin-right: 50px;
}
/* ---------------------------------------------------------------------------------- */
/* ---------------------------------------------------------- */

.header__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 130%;
  letter-spacing: 1px;
  max-width: 500px;
  margin-bottom: 60px;
}

.header__content-btn {
  margin-right: 24px;
  margin-bottom: 50px;
}
.header__content-btn:last-child {
  margin-right: 0px;
}

.header__play {
  display: inline-flex;
  align-items: center;
  margin-bottom: 24px;
}

.header__play svg {
  margin-right: 16px;
  border-radius: 50%;
  transition: all 0.3s;
}
.header__play:hover svg {
  box-shadow: 0 0 0 16px rgba(255, 63, 58, 0.12);
}

.header__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #1e212c;
  margin-bottom: 80px;
}

.header__row > span {
  background: #ff3f3a;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin: 15px;
}

.header__row-item {
  display: flex;
  align-items: center;
}

.header__row-item span {
  font-weight: 900;
  font-size: 40px;
  line-height: 130px;
  margin-right: 12px;
}
/* -------------------------------------------------------------------------------------------------- */

.about {
  padding: 80px 0 120px;
}
.heading__title {
  font-weight: 900;
  font-size: 38px;
  line-height: 130%;
  letter-spacing: 1px;
  margin-top: 20px;
}

.about__createx {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 180px;
  position: relative;
}
.about__createx::before {
  content: "";
  position: absolute;
  top: -80px;
  right: -160px;
  background: url("../img/1.svg");
  width: 100px;
  height: 85px;
}

.about__createx-content {
  max-width: 600px;
  margin-right: 30px;
}
.about__heading {
  margin-bottom: 48px;
}

.about__text {
  margin-bottom: 60px;
}
.about__paragraph {
  margin-bottom: 24px;
}
.about__paragraph:last-child {
  margin-bottom: 0;
}

.about__paragraph--accent {
  font-weight: bold;
  font-size: 20px;
  line-height: 150%;
}
.about__btn-box {
  display: flex;
}
.about__btn {
  margin-right: 24px;
}
.about__btn:last-child {
  margin-right: 0;
}

.about__values {
  display: flex;
  justify-content: space-between;
}
.about__img-box img {
  width: 100%;
  height: 100%;
  object-fit: cover; /*--------отзывчивое изображение*/
}

.about__numbers {
  align-self: center;
  margin-bottom: 20px;
  margin-left: 30px;
}

.about__numbers:last-child {
  margin-bottom: 0;
}

.about__number {
  display: flex;
  align-items: center;
  font-size: 18px;
}

.about__number span {
  font-weight: 900;
  font-size: 48px;
  line-height: 130%;
  letter-spacing: 1px;
  color: #ff3f3a;
  margin-right: 16px;
}

/* ---------------------------------------------------------------------- */

.directions {
  padding-top: 20px;
  margin-bottom: 80px;
}

.directions__heading {
  margin-bottom: 50px;
}
.directions__heading {
  text-align: center;
}

.directions__filter-box {
  display: flex;
  margin-bottom: 30px;
}
.directions__filter-item {
  margin-right: 45px;
}
.directions__filter-item:last-child {
  margin-right: 0;
}
.directions__filter-btn {
  color: #9a9ca5;
  border: 1px solid #9a9ca5;
  font-weight: 700;
  padding: 0 8px 1px 6px;
  background-color: transparent;
  border-radius: 4px;
  line-height: 160%;
  font-size: 16px;
}
.directions__filter-btn--active {
  background-color: #ff3f3a;
  color: #fff;
  border: 1px solid #ff3f3a;
}
.directions__list {
  display: grid;
  grid-template: repeat(2, auto) / repeat(3, 1fr);
  gap: 30px;
}

.directions__list-link {
  display: block;
  border-radius: 4px;
  overflow: hidden;
  border: 1px solid #e5e8ed;
}
.directions__list-link:hover {
  box-shadow: 0 1px 15px 10px #e5e8ed;
  transition: all 0.3s;
}
.directions__img-box img {
  width: 100%;
  height: 100%;
}
.directions__link-content {
  padding: 24px;
  display: flex;
  flex-direction: column;
}
.directions__link-tag {
  color: #fff;
  border-radius: 4px;
  align-self: start;
  padding: 0 8px 1px 6px;
  line-height: 160%;
  font-size: 16px;
  margin-bottom: 20px;
}
.tag-marketing {
  background-color: #03cea4;
}
.tag-management {
  background-color: #5a87fc;
}
.tag-hr {
  background-color: #f89828;
}
.tag-design {
  background-color: #f52f6e;
}
.tag-dev {
  background-color: #7772f1;
}
.directions__link-text {
  color: #787a80;
  line-height: 160%;
  margin-bottom: 20px;
}
.directions__link-btn {
  color: #1e212c;
  font-weight: 900;
  display: flex;
}
.directions__link-btn:hover {
  color: #ff3f3a;
  transition: all 0.3s;
}
.directions__link-btn::after {
  content: "";
  width: 24px;
  height: 24px;
  background: url("../img/icons/rrRight.svg");
  margin-left: 11px;
}
.directions__list-item--empty {
  background: #f4f5f6;
  border-radius: 4px;
  display: flex;
  justify-content: center;
}
.directions__list-item--empty span {
  color: #424551;
  font-weight: 800;
  font-size: 20px;
  width: 240px;
  align-self: center;
  padding: 15px;
}

/* --------------------------------------------------------------------- */

.blog {
  padding: 50px 0 180px 0;
  background-color: #f4f5f6;
}

.blog__top {
  margin-bottom: 60px;
}

.blog__row {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.blog__item {
  max-width: 385px;
}
.blog__item-inner:hover {
  box-shadow: 2px 0 25px 6px #e5e8ed;
  transition: all 0.3s;
}

.blog__img-box {
  border-radius: 4px;
  overflow: hidden;
  margin-bottom: 16px;
}

.blog__item-info {
  display: flex;
  gap: 12px;
  margin-bottom: 16px;
  color: #787a80;
}

.blog__item-title {
  font-weight: 700;
  font-size: 20px;
  color: #1e212c;
  margin-bottom: 8px;
}
.blog__item-text {
  margin-bottom: 18px;
  color: #55565a;
}
.blog__item-button {
  color: #1e212c;
  font-weight: 900;
  display: flex;
  padding-bottom: 8px;
}
.blog__item-button:hover {
  color: #ff3f3a;
  transition: all 0.3s;
}
.blog__item-button::after {
  content: "";
  width: 24px;
  height: 24px;
  background: url("../img/icons/rrRight.svg");
  margin-left: 11px;
}
/* ------------------------------------------------------------- */

.info__inner {
  margin: 80px 0 140px 0;
  padding: 40px 0;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.info__content {
  margin-right: 25px;
}
.info__heading {
  margin-bottom: 40px;
}

.info__contents {
  gap: 25px;
}
.info-text {
  padding-top: 10px;
  font-size: 18px;
  font-weight: 700;
}
.info-text:hover {
  color: #ff3f3a;
  transform: all, 0.3s;
}
.info-text-p {
  color: #787a80;
}
.info-mail {
  margin-bottom: 25px;
}
.info-tel {
  margin-bottom: 25px;
}
.info-address {
  margin-bottom: 25px;
}

.info__link {
  margin-top: 20px;
}
.info__link-item {
  display: flex;
  gap: 30px;
}
.info__links path {
  transition: all, 0.3s;
}
.info__links:hover path {
  fill: #ff3f3a;
}
.info__map {
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 #0000002c;
  overflow: hidden;
}

/* --------------------------------------------------------------------- */

.questions {
  padding: 20px 0 180px 0;
}
.questions__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.questions__form-row {
  display: flex;
  margin-bottom: 24px;
}
.questions__form-label {
  margin-right: 25px;
  flex: 1 1 auto;
  width: 100%;
}
.questions__form-label:last-child {
  margin-right: 0;
}
.questions__form-input,
.message {
  display: block;
  border: 1px solid #d7dadd;
  border-radius: 4px;
  padding: 13px 16px;
  width: 100%;
  margin-top: 8px;
}
.questions__form-input::placeholder,
.message::placeholder {
  color: #9a9ca5;
}
.message {
  resize: none;
  height: 100px;
  margin-bottom: 30px;
}
.questions__form-input-checkbox {
  margin-right: 20px;
  cursor: pointer;
}
.questions-btn {
  width: 100%;
  align-self: center;
  text-align: center;
}

/* -------------------------------------------------------------- */

.footer {
  color: #fff;
  background: #1e212c;
}
.footer__top {
  padding: 80px 0 60px 0;
}
.footer__top-inner {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.footer__top-col {
  display: flex;
  flex-direction: column;
}
.footer__top-col:first-child {
  max-width: 280px;
}
.footer__top-col:last-child {
  max-width: 285px;
}
.footer__top-text {
  opacity: 0.6;
  margin: 25px 0 38px 0;
  font-size: 12px;
  line-height: 150%;
}
.footer__link-item {
  display: flex;
  gap: 30px;
}
.footer__links path {
  transition: all, 0.3s;
}
.footer__links:hover path {
  fill: #ffffff;
}
.footer__top-title {
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 12px;
  white-space: nowrap;
}
.footer__top-item {
  padding-bottom: 8px;
}
.footer__item-link {
  opacity: 0.6;
  white-space: nowrap;
}
.footer__item-link:hover {
  color: #ffffff;
  opacity: 1;
  transition: all, 0.3s;
}
.footer__form-input {
  background: rgba(255, 255, 225, 0.12);
  border: 1px solid rgba(255, 255, 225, 0.2);
  border-radius: 4px;
  padding: 9px 12px;
  font-size: 12px;
  line-height: 150%;
  color: #ffffff;
  width: 100%;
  margin: 12px 0;
}
.footer__form-input::placeholder {
  color: #ffffff;
  opacity: 0.6;
}
.footer__form-description {
  font-size: 10px;
  opacity: 0.9;
}
.footer__bottom {
  background-color: #292c37;
  opacity: 0.8;
}

.footer__copy {
  padding: 20px 0;
}
.footer__copy span {
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url(../img/icons/Heart.svg) 0 0 / 100% 100% no-repeat;
  vertical-align: top;
}
.my__link {
  font-style: italic;
  color: #ffffff;
  opacity: 0.6;
}

/* ------------------------------------- */

.upbtn {
  opacity: 0.8;
  z-index: 9999;
  width: 60px;
  height: 60px;
  border-radius: 30px;
  position: fixed;
  bottom: -80px;
  right: 20px;
  cursor: pointer;
  /* border: 1px solid #fe5444be; */
  transition: all 0.3s;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url(../img/icons/up.svg);
}
.upbtn:hover {
  opacity: 1;
  background-color: #fe5244;
}

/* ------------------------------------------- */
/* ------------------------------------------- */

@media (max-width: 1100px) {
  .burger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 35px;
    right: 20px;
    z-index: 150;
    transition: all 0.3s;
  }
  .burger--follow {
    top: 20px;
    height: 55px;
    width: 55px;
    border-radius: 50%;
    background: #fafafa;
    box-shadow: 0 1px 8px #adc2e7;
  }
  .burger span {
    display: block;
    width: 30px;
    height: 4px;
    background: #424551;
    border-radius: 3px;
    margin: 4px 0;
  }
  .burger::before,
  .burger::after {
    content: "";
    display: block;
    width: 30px;
    height: 4px;
    background: #424551;
    border-radius: 3px;
  }
  .header__logo--burger {
    display: flex;
    padding: 15px 0;
    margin-bottom: 40px;
  }

  .header__top {
    min-width: 320px;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    background: #fff;
    z-index: 100;
    transform: translateX(0%);
    transition: all 0.3s;
  }
  .header__top--open {
    transform: translateX(100%);
  }
  .header__top-inner {
    flex-direction: column;
    height: 100%;
  }
  .header__logo {
    margin: 15px auto;
  }
  .header__nav {
    text-align: center;
    margin: 60px auto;
  }
  .header__nav-list {
    flex-direction: column;
    gap: 30px;
  }
  .header__nav-link {
    padding: 15px;
  }
  .header__btn-box {
    flex-direction: column-reverse;
  }

  .header__top-btn {
    margin: 60px 15px;
  }
  .upbtn {
    display: none;
  }
}

@media (max-width: 440px) {
  .header__top {
    min-width: none;
    width: 100%;
  }

  .header__nav-list {
    flex-direction: column;
    gap: 30px;
  }
  .header__nav-link {
    padding: 15px;
  }
  .header__top-btn {
    margin: 60px 15px;
  }
}
